body {
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    width: 100%;
    height: 115px;
}


body h1 {
    text-align: center;
    background-color: blueviolet;
    color: white;
}

body button {
    height: 50px;
}

body li a {
    margin-top: 20;
    background-color: blue;
    color: white;
}

li {
    align-items: center;
}

footer {
    text-align: center;
}


